.rating-wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.stars-wrapper {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.star {
  color: var(--color-lighter-gray);
  transition: color .2s ease-in-out;
}

.star--filled {
  color: var(--color-gold);
}

.rating {
  font-size: var(--font-size-2);
  color: var(--color-dark-gold);
}
