.price {
  color: var(--color-darker-gray);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing--large);
}

.price--s {
  font-size: var(--font-size-2);
}

.price--m {
  font-size: var(--font-size-3);
}

.price--l {
  font-size: var(--font-size-6);
}

.price--green {
  color: var(--color-green);
}
